    /*------- Navbar Styles ---------*/    
    nav.custom-navbar .dropdown-menu ,nav.custom-navbar{
        font-size: 1rem!important;
    }
    nav.custom-navbar .navbar-nav   li  a.nav-link{
        color:#cdc4d9!important;
        transition: .3s;
    }
    nav.custom-navbar .navbar-nav   li  a.nav-link::before{
        position: absolute;
        content: '';
        bottom: 0px;
        left: 10px;
        width: 0px;
        height: 4px;
        background: linear-gradient(135deg, hsl( 15 , 87% , 57% ) 23%, hsl(15deg 86.21% 77.25%) 53%);
        z-index: 22;
        border-radius: .1rem ;
        transition: .3s;
    }
    nav.custom-navbar .navbar-nav   li  a.nav-link:hover::before{
        width: 24px;
    }
    nav.custom-navbar .navbar-nav   li  a.nav-link.active{
        color:hsl( 15 , 87% , 57% )!important;
    }
    nav.custom-navbar .navbar-nav   li  a.nav-link:hover{
        color:hsl( 15 , 87% , 57% )!important;
    }
    nav.custom-navbar .nav-item .dropdown-toggle::after{
        content: '\f078'!important;
        font-family: "Font Awesome 5 free"!important; 
        font-weight: 900;
        border-top: none;
        position: absolute;
        font-size: .6rem;
        right: 0;
        bottom: 13px;
    }
    /*------- Footer---------------------*/
    footer  a{
        transition: .3s;
        text-decoration: none;
        color: white;
    }
    footer.footer-section  ul.quick-links > li > a:hover{
        color: hsl( 15 , 87% , 57% )!important;
        
    }
    footer.footer-section .container:first-of-type{
        border-bottom: 1px solid #2e2141;
    }
    footer.footer-section ul.widget-social > li a{
        width: 40px;
        height: 40px;
        border: 1px solid hsl( 15 , 87% , 57% );
        font-size: .6rem;
        transition: .25s;
    }
    footer.footer-section ul.widget-social > li a:hover{
        color: #000000;
        background-color: hsl( 15 , 87% , 57% );
    }
    footer.footer-section .single-footer-widget input[type="email"]{
        background-color:#2e2141;
        border: none;
        outline: none;
        transition: .5s;
        color: #cbc2d7;
    }
    footer.footer-section .single-footer-widget input[type="email"]:focus{
        border:1px solid hsl( 15 , 87% , 57% );
    }
    footer.footer-section .single-footer-widget button.default-btn{
        background: hsl( 15 , 87% , 57% );
    }
    /*----- HERO :: SECTION ---------------*/
    .header-slider-show .swipperHeader .swiper-slide{
        /* height: 100vh; */
    } 
    .header-slider-show .swipperHeader .swiper-button-prev, .header-slider-show .swipperHeader .swiper-button-next{
        width: 2.3rem;
        height: 2.3rem;
        font-size: .8rem;
        opacity: .5;
        transition: .25s;

    }
    .header-slider-show .swipperHeader .swiper-button-prev:hover, .header-slider-show .swipperHeader .swiper-button-next:hover{
        opacity: 1;
    }
    .header-slider-show .swipperHeader .swiper-button-prev::after, .header-slider-show .swipperHeader .swiper-button-next::after{
        font-size: .8rem;
    }
    @media only screen and (max-width: 670px)  {
        .header-slider-show .swipperHeader .swiper-slide{
            height:auto;
        }   
    }